.section_padding {
  padding: 4rem 4rem;
}
.footer {
  background-image: url("../images/footer.jpg");
  /* object-fit: cover; */
  margin-left: -130px;
  position: relative;
  width: 1300px;
}
.sb_footer {
  display: flex;
  flex-direction: column;
}
.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}
.sb_footer-links-div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}
#foota {
  color: rgb(207, 207, 209);
  text-decoration: row;
  font-size: 15px;
  margin-left: 0px;
}
.no-1,
.no-2,
.no-3,
.no-4 {
  margin-left: -20px;
}
.socialmedia {
  display: flex;
  flex-direction: row;
}
.socialmedia {
  width: 80%;
}
.sb_footer-links-div {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}
.sb_footer-links-div {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
}
.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.sb_footer-below-links {
  display: flex;
  flex-direction: row;
}
.sb_footer-below-links p {
  font-size: 17px;
  line-height: 15px;
  margin: 2rem;
  color: white;
  font-weight: 600;
}
hr {
  color: white;
  width: 100%;
}
.footer-copyright {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.footimg {
  width: 27px;
  height: 27px;
}
.footimg1 {
  width: 37px;
  height: 37px;
  margin-top: -5px;
}
.footh {
  color: white;
  margin-left: 0px;
  font-size: 20px;
  font-weight: bolder;
}
.footh2 {
  color: white;
  margin-left: 65px;
}
