/* TourBookingForm.css */

.container {
  padding: 20px;
  display: flex;
  column-gap: 20px;
  background-color: white;
  /* This makes the image 50% transparent */
}
image {
  opacity: 0.5;
}
.tour-booking-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(22, 2, 14, 0.1);
  width: 50%;
}

.tour img {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
}

.tour-booking-form h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.tour-booking-form label {
  display: block;
  margin-bottom: 15px;
}

.tour-booking-form select {
  width: 80%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.tour-booking-form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.tour-booking-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tour-booking-form button:hover {
  background-color: #0056b3;
}

/* Card.css */

.card {
  margin: 10px;
  text-align: center;
  background-color: peachpuff;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
}

.card img {
  max-width: 100%;
}

.card-content {
  padding: 10px;
}

.card h2 {
  font-size: 2rem;
  margin: 0;
}

.card p {
  font-size: 1.5rem;
}
